@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";

    if (!Model.Blogs.Any())
    {
        <div class="no_blogs">
            <h1>Welcome!</h1>
            <p>Get started and write your first blog post <a class="text-primary" asp-page="/Post">here</a>.</p>
        </div>
    }

    else
    {
        foreach (var blog in Model.Blogs)
        {
            <article>
                <h1 style="display:inline;"><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.BlogId">@blog.Title </a></h1><h5 style="display:inline;"> - @blog.Date.ToString("MMM dd, yyyy")</h5>
                <div class="col-md-12">
                    <h3>@blog.Author</h3>
                    <h5>@blog.NumComments Comments</h5>
                   </div>
            </article>
            <br>
        }
    }
}